@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  overflow: hidden;
  @apply bg-neutral-200/80 text-black;
  @apply dark:bg-neutral-800 dark:text-white;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply dark:bg-neutral-950 bg-neutral-400 rounded-full;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease infinite;
}

input {
  /* border: 1px solid var(--color-neutral-700); */
  border-radius: var(--radius-lg);
  padding: 0.7rem 1.4rem;
  transition: border-color 0.2s ease;
  width: 100%;
  @apply border dark:border-neutral-700 border-neutral-300
}

input:focus {
  outline: none;
  border: 1px solid var(--color-orange-600);
  box-shadow: 0 0 0 1px rgba(255, 165, 0, 0.3);
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.form-group label {
  /* color: var(--color-neutral-500); */
  font-weight: 700;
}
.check {
  width: 20px;
}